.js-clock {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  font-size: 100px;
}

.name-input input {
  margin-top: 10%;
  border-radius: 5px;
  font-size: 30px;
}

.welcome-message {
  margin-top: 10%;
  border-radius: 5px;
  font-size: 30px;
}

.not-show {
  display: none;
}

.showing {
  display: flex;
  justify-content: center;
}

.js-todoForm {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.js-todoForm input {
  font-size: 20px;
  border-radius: 5px;
}
.js-todolist {
  display: flex;
  flex-direction: column;
  padding-left: 41.5%;
  margin-top: 20px;
}
